body{
  background-color: rgb(149, 211, 152);
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-63749.jpg?w=2000');
}

.book{
  background-color: rgb(229, 243, 243);
  color: rgb(35, 39, 39);
  border-radius: 5px;
  padding: 3px;
}

.title{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-width: 1px;
  border-color: red;
}

.author{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}